<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <!--上下文监听器，用于启动时读取公众号配置以及授权缓存-->
    <context-param>
        <param-name>ChatConfigPath</param-name>
        <param-value>classpath:default-chat-config.xml</param-value>
    </context-param>
    <listener>
        <listener-class>org.ike.wechat.websupport.listener.ChatCoreListener</listener-class>
    </listener>
    <listener>
        <listener-class>org.ike.wechat.websupport.listener.WechatInitListener</listener-class>
    </listener>

    <servlet>
        <servlet-name>CoreServlet</servlet-name>
        <servlet-class>org.ike.wechat.websupport.servlet.CoreServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CoreServlet</servlet-name>
        <url-pattern>/core</url-pattern>
    </servlet-mapping>

</web-app>